<body>
    <p>Hello <strong>{{ user }}</strong>,</p>

    <p>We are glad to inform you that you've successfully registered for the event <i><strong>"{{event}}"</strong></i> being organized as a part of <strong>Abhivyakti'22</strong>, the cultural fest of <strong>SRMCEM!</strong>.<br><br>Event details are as follows:<br>Date : {{date}}<br>Coordinated by: {{cell}}<br><br>We wish you all the best for your event performance.<br><br><strong>Note - Event Details and Rules can be found on our website and in the brochure as well.<br>Please find attached : Brochure of Abhivyakti 2k22</strong><br><br>In case you have any query, you can connect with us at:<br>Phone: <strong></strong><br>Email: <strong>abhivyaktisrmgpc@gmail.com</strong></p><br>

    <p>Regards,<br /><strong>Team Abhivyakti'22</strong><br><strong>SRMCEM, Lucknow</strong></p>
</body>