{% extends 'basic.html' %}

{% block title %}
{{request.user}} || Admin || Abhivyakti'22
{% endblock %}


{% block css %}

{% endblock %}


{% block body %}
<h4 class="p-5 text-center">Hello, <span class='text-uppercase'>{{request.user}}</span></h4>
<div class="container bg-light border border-3 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Graffiti</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in graffiti %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Group Discussion</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in gd %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Debate</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in debate %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Maymay Mania</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in mm %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Trivia Fever</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in tf %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">PPD</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in ppd %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Pictionary</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pictionary %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Twist & Tale</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in tt %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Open Mic</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in om %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Reader's Circle</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rc %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Scripturesqueue</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in sq %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">JAM</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in jam %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container bg-light border border-3 mt-4 shadow table-responsive">
    <h6 class="text-center text-uppercase py-3">Doodler's Combat</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">College</th>
                <th scope="col">College RN</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            {% for i in dc %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.college}}</td>
                <td>{{i.college_rn}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.city}}</td>
                <td>{{i.date}}</td>
                <td>{{i.event_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="container mt-5 border bg-light p-4">
    <h4 class="text-center">Update Result</h4>
    {% for message in messages %}

    <h5 id="messages" class="text-center text-success fw-bold">{{message}}</h5>

    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="event">Event Name</label>
            <select class="form-control" id="event" name="event" required>
                <option selected disabled></option>
                <option value="Graffiti">Graffiti</option>
                <option value="Group Discussion">Group Discussion</option>
                <option value="Debate">Debate</option>
                <option value="Maymay Mania">Maymay Mania</option>
                <option value="Trivia Fever">Trivia Fever</option>
                <option value="PPD">PPD</option>
                <option value="Pictionary">Pictionary</option>
                <option value="Twist & Tale">Twist & Tale</option>
                <option value="Open Mic">Open Mic</option>
                <option value="Reader's Circle">Reader's Circle</option>
                <option value="Scripturesqueue">Scripturesqueue</option>
                <option value="JAM">JAM</option>
                <option value="Doodler's Combat">Doodler's Combat</option>
            </select>
        </div>
        <div class="form-group">
            <label for="position">Position In Event</label>
            <select class="form-control" id="position" name="position" required>
                <option value="" selected disabled></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Participant Name*</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Full name of participant"
                required>
        </div>
        <div class="mb-3">
            <label for="college" class="form-label">College Name*</label>
            <input type="text" class="form-control" id="college" name="college"
                placeholder="Participant College name in short(e.g. SRMCEM)" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>


<div class="d-flex justify-content-center mt-4">
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>

{% endblock %}


{% block js %}


{% endblock %}